<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title> Stock News</title>
    </head>

    <body>
        <div class = "choice">
            <p align = "center">
                Stock System
            </p>
            <form action = "stockInfo" method="post" align = "center">
                {% csrf_token %}
                <input id = "stockInfo" type = "submit" name = "button" value = "Stock Information">
            </form>

            <form action = "sentimentAnalysis" method="post" align = "center">
                {% csrf_token %}
                <input id = "Sentiment_Analysis" type = "submit" name = "button" value = "Sentiment Analysis">
            </form>
        </div>
    </body>
</html>

<style>
    .choice{
        margin:auto;
        position:relative;
        width: 40%;
        height: 200px;
        margin-top: 100px;
        font-size: 25px;
        border: solid 2px grey;
        border-radius: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
    }
</style>